<h1>Edit {{title}}</h1>

<form action="/products/edit" method="POST">
  <div class="input-field col s6">
    <input placeholder="Placeholder" value="{{product.title}}" name="title" id="title" type="text" class="validate"
      required>
    <label for="title">Product Title</label>
    <span class="helper-text" data-error="Введите имя" data-success="right"></span>
  </div>

  <div class="input-field col s6">
    <input placeholder="Placeholder" value="{{product.price}}" name="price" id="price" type="text" min="1"
      class="validate" required>
    <label for="price">Product Price</label>
    <span class="helper-text" data-error="Введите цену" data-success="right"></span>
  </div>

  <div class="input-field col s6">
    <input placeholder="Placeholder" name="image" value="{{product.image}}" id="img" type="text" class="validate"
      required>
    <label for="img">Product URL picture</label>
    <span class="helper-text" data-error="Введите url of picture" data-success="right"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">

  <button class="btn btn-primary">Save</button>
</form>