<h1>show all products</h1>

{{#if products.length}}
<div class="row">
  {{#each products}}
  <div class="col s6 offset-3">
    <div class="card">
      <div class="card-image">
        <img src="{{image}}" alt="{{title}}">
        <span class="card-title">{{title}}</span>
      </div>
      <div class="card-content">
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action">
        <a href="/products/{{id}}" target="_blank">Look at him</a>
        <a href="/products/{{id}}/edit?allow=true" target="_blank">Edit</a>
        <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <button class="btn btn-primary" type="submit">Buy</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<span class="collection-item">There is no product</span>
{{/if}}